# Variables de Entorno (Ejemplo)

PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=proyecto_api
JWT_SECRET=your_jwt_secret_key_change_in_production
JWT_EXPIRES_IN=24h
NODE_ENV=development
ADMIN_EMAIL=admin@motogear.com
# Hash bcrypt para password por defecto: Admin1234
ADMIN_HASHED_PASSWORD=$2a$10$u31J1R6SFzk5TRT0NenE2u4jvY8MXY5MzdON3NofM8JrIoVNewc19
